{% extends "main/index.html" %}
{%block title%}
    Contact - Temirlan Idrisov
{%endblock%}

{% block content %}

<div class="contact-section">
    <h1>Get in Touch</h1>
    <p class="lead">Contact Me
        You can reach me via email and Telegram</p>
    
    <div class="social-links">
        <a href="https://github.com/t1matoma" class="social-button github">
            GitHub
        </a>
        <a href="https://t.me/Satosh1Nakam0to" class="social-button telegram">
            Telegram
        </a>
        <a href="https://leetcode.com/u/substant1al/" class="social-button leetcode">
            LeetCode
        </a>
        <a href="mailto:temirlanidrisov7@gmail.com" class="social-button email">
            Email
        </a>
    </div>
</div>

{% endblock %}
