{%extends 'main/index.html'%}
{%block title%}title contacts{%endblock%}
{%block content%}
<div class='features'>
    <h1>
        My contacts
    </h1>
    <p>
        message me
    </p>
    <a href="https://github.com/t1matoma"><button class="btn btn-warning">GitHub</button></a>
    <a href="https://leetcode.com/u/substant1al/"><button class="btn btn-warning">LeetCode</button></a>
    <a href="mailto:temirlanidrisov7@gmail.com"><button class="btn btn-warning">Email</button></a>

</div>
{%endblock%}